
<!DOCTYPE html>
<html>
<head>
  <title>DMS</title>
</head>
<body>
    <img src="assets/images/Atos-Logo.png" alt="Logo" class="logo">

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex items-center justify-center">
    <p-card header="Register" [style]="{ width: '600px', height: '550px'}">
      <div class="" [style]="{ display: 'flex', flexDirection: 'row'}">
        <div class="flex-item mx-auto">
          <div class="field flex-item">
            <label for="firstName">First Name</label>
            <input
              type="text"
              pInputText
              formControlName="firstName"
              class="w-full"
              name="firstName"
              placeholder="Type your first name"
            />
            <small
              *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
              class="block p-error"
            >
              <div *ngIf="firstName.errors?.['required']">Name is required.</div>
              <div *ngIf="firstName.errors?.['pattern']">Enter a valid Name</div>
            </small>
          </div>
          <div class="field flex-item">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              pInputText
              formControlName="lastName"
              class="w-full"
              name="lastName"
              placeholder="Type your last name"
            />
            <small
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="block p-error"
            >
              <div *ngIf="lastName.errors?.['required']">Name is required.</div>
              <div *ngIf="lastName.errors?.['pattern']">Enter a valid Name</div>
            </small>
          </div>
          <div class="field flex-item">
            <label for="nationalid">National ID</label>
            <input
              type="text"
              pInputText
              formControlName="nationalid"
              class="w-full"
              name="nationalid"
              placeholder="Type your national Id"
            />
            <small
            *ngIf="nationalid.invalid && (nationalid.dirty || nationalid.touched)"
            class="block p-error"
          >
            <div *ngIf="nationalid.errors?.['required']">National ID is required.</div>
            <div *ngIf="nationalid.errors?.['pattern']">Enter a valid National ID</div>
          </small>
          </div>
        </div>
        <div class="flex-item mx-auto">
          <div class="field flex-item">
            <label for="email">Email</label>
            <input
              type="text"
              pInputText
              formControlName="email"
              class="w-full"
              name="email"
              placeholder="Type your email"
            />
            <small
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="block p-error"
            >
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
          </div>
          <div class="field flex-item">
            <label for="password">Password</label>
            <input
              type="password"
              pInputText
              formControlName="password"
              class="w-full"
              name="password"
              placeholder="Type your password"
            />
            <small
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="block p-error"
            >
              <div *ngIf="password.errors?.['required']">Password is required.</div>
            </small>
          </div>
          <div class="field flex-item">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              pInputText
              formControlName="confirmPassword"
              class="w-full"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
            <small
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
              class="block p-error"
            >
              <div *ngIf="confirmPassword.errors?.['required']">
                Confirm the password
              </div>
            </small>
            <small
              class="block p-error"
              *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
            >
              Password should match
            </small>
          </div>
        </div>  
      </div>
      <button
        [ngClass]="{'normalbutton': registerForm.valid, 
        'cripplebutton': !registerForm.valid}"
        styleClass="w-full mt-auto mb-0"
        class="w-full mt-auto mb-0"
        [disabled]="registerForm.invalid"
        type="submit"
      >Register</button>
      <div class="mt-2 ml-auto">Already a member? <a routerLink="/login">Login</a></div>
    </p-card>
  </form>
</body>
</html>