<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p-card header="Login" [style]="{ width: '360px' }">

      <div class="field mb-3 ">
        <div class="flex justify-between">
          <label for="email">Email</label>
          </div>
        <input
          type="email"
          pInputText
          formControlName="email"
          class="w-full"
          id="email"
          placeholder="Type your email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>

      <div class="field mb-3">
        <div class="flex justify-between">
        <label for="password">Password</label>
        </div>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type your password"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
      </div>
      <p-button
        label="SIGN IN"
        [disabled]="loginForm.invalid"
        type="submit"
        [style]="{ width: '320px', 'border-radius': '5px' }"
      ></p-button>
      <div class="mt-2">Not a member? <a routerLink="/register">Register</a></div>
    </p-card>
  </form>

