<button pButton type="button" icon="pi pi-arrow-left" label="Back" (click)="goBack()" class="back-button"></button>
<div class="card">
    <p-toast></p-toast>


    <p-table
        [value]="ContentDataArray"
        editMode="row"
        [paginator]="true"
        [rows]=5
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '80rem', 'min-height': '20rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        class="fixed-width-table"
        emptyMessage="No Content Data found"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:50px"  ></th>
                <th  style="width:200px"  >
                    Name 
                </th>
                <th style="width:300px"  >Description</th>
                <th  style="width:400px"  >Created Date </th>
                <th style="width:200px"  >
                  <div class="search-bar" *ngIf="searchable">
                    <input type="text" [(ngModel)]="searchterm" placeholder="Search..." (input)="filterContentData()" />
                  </div>

                </th>
                <th style="width:400px"  > <p-button label="Clear" *ngIf="searchable" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clearSearch()" /></th>
                <th style="width:200px"  > 
                   <p-dropdown 
                  [options]="fileTypes" 
                  [(ngModel)]="searchterm" 
                  placeholder="Select a file type" 
                  (onChange)="filterContentData()"
                  filterBy="label">
                </p-dropdown>
              </th>

            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-BaseData let-editing="editing" let-ri="rowIndex" class="fixed-width-table" >
            <tr [pEditableRow]="BaseData">
                <td style="width:50px">
                    <ng-container *ngIf="BaseData.type === 'directory'; else documentIcon">
                        <i class="pi pi-folder" style="font-size: 2rem;"></i> 
                      </ng-container>
                      <ng-template #documentIcon>
                        <i class="pi pi-file" style="font-size: 2rem;"></i> 
                      </ng-template>
                </td>
                <td   style="width:300px" (click)="!editing && OpenOrnavigateTo(BaseData)" style="cursor: pointer;" >

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                                pInputText type="text"
                                [(ngModel)]="BaseData.name"
                                [disabled]="editingRowId !== BaseData.id"
                                 />
                        </ng-template>

                        <ng-template pTemplate="output">
                            {{BaseData.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="width:500px" class="text-overflow"  >
                    <p-cellEditor>
                        <ng-template pTemplate="input" *ngIf="BaseData.type==='directory'">
                            <input
                                pInputText type="text"
                                [(ngModel)]="BaseData.description" 
                                [disabled]="editingRowId !== BaseData.id"
                                />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{BaseData.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="width:200px" >{{ BaseData.createdAt | date: 'medium' }}</td>
                <td  style="width:200px">
                    <div class="flex align-items-center justify-content-center gap-2">
                      <button
                          *ngIf="BaseData.type === 'document'"
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-download"
                          (click)="downloadDocument(BaseData.id,BaseData.name)"
                          class="p-button-rounded p-button-text" >
                        </button>
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            (click)="onRowEditInit(BaseData)"
                            class="p-button-rounded p-button-text">
                        </button>
                        <button
                            *ngIf="editing && BaseData.id === editingRowId"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="onRowEditSave(BaseData)"
                            class="p-button-rounded p-button-text p-button-success mr-2">
                        </button>
                        <button
                            *ngIf="editing && BaseData.id === editingRowId"
                            pButton pRipple
                            type="button"
                            pCancelEditableRow
                            icon="pi pi-times"
                            (click)="onRowEditCancel(BaseData, ri)"
                            class="p-button-rounded p-button-text p-button-danger">
                        </button>
                    </div>
                </td>
                <td  style="width:200px">
                    <p-button icon="pi pi-trash" 
                    class="p-button-rounded p-button-danger" (click)="confirmDelete(BaseData)"></p-button>
                  </td>


            </tr>
        </ng-template>


    <ng-template pTemplate="paginatorleft">
      <div class="d-flex align-items-center">
        <p-button type="button" icon="pi pi-plus"   styleClass="p-button-text me-2" (onClick)="showDialog=true"></p-button>
        <p-fileUpload 
          #fileUpload
          mode="basic" 
          chooseLabel="Choose" 
          chooseIcon="pi pi-upload"
          name="demo[]" 
          [customUpload]="true"
          [auto]="false" 
          (uploadHandler)="onUpload($event,fileUpload)"
          class="p-2">
        </p-fileUpload>

      </div>
    </ng-template>

      

    </p-table>

    <p-dialog header="Confirm Delete" [(visible)]="showDeleteDialog" [modal]="true" [closable]="false">
        <p>Are you sure you want to delete this BaseData?</p>
        <div class="p-dialog-footer">
          <button type="button" pButton icon="pi pi-times" label="No" (click)="showDeleteDialog = false"></button>
          <button type="button" pButton icon="pi pi-check" label="Yes" (click)="deleteBaseData()"></button>
        </div>
      </p-dialog>

    <p-dialog header="Create New BaseData" [(visible)]="showDialog" [modal]="true" [closable]="false">
        <form (ngSubmit)="onSubmit()" #BaseDataForm="ngForm">
          <div class="p-field">
            <label for="name">Name:</label>
            <input pInputText type="text" id="name" required [(ngModel)]="newFile.name" name="name" />
          </div>
          <div class="p-field">
            <label for="description">Description:</label>
            <input pInputText type="text" id="description" [(ngModel)]="newFile.description" name="description" />
          </div>

          <div class="p-dialog-footer">
            <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="showDialog = false"></button>
            <button type="submit" pButton icon="pi pi-check" label="Create"></button>
          </div>
        </form>
      </p-dialog>


      <p-dialog 
      header="Document Viewer" 
      [modal]="true" 
      [style]="{width: '100vw', height: '100vh'}" 
      [contentStyle]="{overflow: 'hidden'}" 
      [(visible)]="previewDocumentDialog" 
      [baseZIndex]="10000"
      (onHide)="onDialogHide()"
      >
    <ng-container *ngIf="selectedDocument && isImage(selectedDocument.name); else otherFile">
      <img [src]="selectedDocumentUrl" alt="Document Image" class="document-image" />
    </ng-container>
    <ng-template #otherFile>
      <iframe [src]="selectedDocumentUrl" class="document-frame"></iframe>
    </ng-template>
  </p-dialog>

</div>
