<div class="card">
    <p-toast></p-toast>
    <p-table
        [value]="workspaceData"
        editMode="row"
        [paginator]="true"
        [rows]=5
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5,10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:20%">
                    Name <p-sortIcon field="name" />
                </th>
                <th style="width:25%">Description</th>
                <th style="width:20%">Created Date</th>
                <th style="width:20%"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Workspace let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="Workspace">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                                pInputText type="text"
                                [(ngModel)]="Workspace.name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{Workspace.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                                pInputText type="text"
                                [(ngModel)]="Workspace.description" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{Workspace.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{ Workspace.createdAt | date: 'medium' }}</td>


                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            (click)="onRowEditInit(Workspace)"
                            class="p-button-rounded p-button-text">
                        </button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="onRowEditSave(Workspace)"
                            class="p-button-rounded p-button-text p-button-success mr-2">
                        </button>
                        <button
                            *ngIf="editing"
                            pButton pRipple
                            type="button"
                            pCancelEditableRow
                            icon="pi pi-times"
                            (click)="onRowEditCancel(Workspace, ri)"
                            class="p-button-rounded p-button-text p-button-danger">
                        </button>
                    </div>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>

    </p-table>
</div>
